@model Movie_Application.ViewModel.MoviesViewModel
@{
    ViewData["Title"] = "Movies Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model.MoviesList.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <th>
                Movies
            </th>
        </thead>
        <tbody>
            @foreach (var movie in Model.MoviesList)
            {
                <tr>
                    <td>
                        @movie.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have Movies Yet!</p>
}

