@model Movie_Application.ViewModel.CustomersViewModel
@{
    ViewData["Title"] = "Customers Page";
}
<h2>Customers</h2>
@if (Model.Customers.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td> 
                        @Html.ActionLink(customer.Name, "EditCustomer", "Customers", new {id = customer.Id}, null);
                    </td>
                    <td>
                        @customer.MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have Customers Yet!</p>
}

